* {
  font-family: "IRANSans";
  margin: 0;
  padding: 0;
  direction: rtl;
  
}
::-webkit-scrollbar {
width: 6px;
background: rgba(0, 0, 0,.8);
}

::-webkit-scrollbar-thumb{
  background: #d2691e;
  border-radius: 4PX;
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(210, 105, 30,.8) ;
}
